/zend
/.idea
/Download
/qujixue
/officeS
/.metadata
Download/
.htaccess
/WebStudy
/study
/worklist/annex
/worklist/oldAnnex
/upwork/file_*/*.*
/upwork/backup
/upwork/delete
/log
/database/file/*.xlsx
test.php