* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Myriad';
    src: url('../font/MyriadPro.ttf');
}

@font-face {
    font-family: 'mini_思源黑体L';
    src: url('../font/mini_SourceHanSansCN-Light.ttf');
}

@font-face {
    font-family: '思源黑体L';
    src: url('../font/SourceHanSansCN-Light.ttf');
}

header {
    width: 100%;
    height: 350px;
    background: #2e8b57;
    color: white;
    font-family: 'Myriad','mini_思源黑体L','思源黑体L';
    font-size: 225%;
}

header div {
    top: 90px;
    left: 20%;
    position: absolute;
    white-space: nowrap;
}

header span {
    font-family: 微软雅黑;
    color: white;
    font-size: 300%;
}

header p:last-child {
    font-size: 75%;
}

span {
    color: #ff4236;
}

main {
    margin: 5% 15% 5%;
}

main p[id] {
    font-size: 175%;
    margin: 50px 0 5px;
}

p a {
    margin: 0 10px;
}

#OS {
    margin-top: 20%;
    font-size: 100%;
    text-align: center;
}

table, th, td {
    font-size: 110%;
    border: 1px solid #4c4c4c;
}

td{
    min-width: 75px;
    padding: 10px 20px;
}

table {
    border-collapse: collapse;
    text-align: center;
    margin: auto;
}

table tr:first-child {
    color: white;
    background: #ff4d40;
}

table tr:first-child td:hover {
    background: #ff4d40;
}


tbody td:hover {
    background-color: #efefef;
}
